<!-- Footer -->
<footer id="footer">
	<div class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-3 i">
					<h2>Frontkom</h2>
					<div class="content">
						Torvgaten 64<br />
						1632 Gamle Fredrikstad<br />
						Norway<br />
						+47 69 30 44<br />
						<a href="#" title="#">post@front.no</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<h2>Newsletter</h2>
					<p>Get the latest news via email:</p>
					<form>
						<input type="email" class="form-control">
						<button type="submit" class="submit sprite"></button>
					</form>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<h2>Follow</h2>
					<p>Get close to us</p>

					<div class="socials">
						<a href="http://facebook.com/frontkom" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/frontkom" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<h2>Account</h2>
					<div class="content clearfix">
						<a href="#" title="#">My account</a>
						<a href="#" title="#">Activity history</a>
						<a href="#" title="#">Deploys</a>
						<a href="#" title="#">My worklogs</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 i">Copyright © 2015 <a href="http://www.webcachr.com/" title="WebCachr">WebCachr</a></div>
				<div class="col-xs-6 i">By: <a href="http://www.frontkom.no/" title="Frontkom" target="_blank">Frontkom</a></div>
			</div>
		</div>
	</div>
</footer>


<!-- JS -->
<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/skrollr.min.js"></script>
<script src="/assets/js/classie.js"></script>
<script src="/assets/js/app.min.js"></script>
