<header id="header" data-0="top: 0%;" data-400="top: -10%;">
	<div class="container">
    {% include nav.html %}
		<div class="text-center wrap">
			<h2>Make your site <strong>super fast</strong></h2>
			<h3>Enter domain to test your site on WebCachr. Free up to 1000 pages*</h3>

			<!-- Form -->
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<form class="form loginRegistrationForm">
						<div class="row">
							<div class="col-xs-12 col-sm-8 i">
								<div class="input">
									<input type="email" class="form-control input-field">
									<label class="input-label">
										<span class="input-label-content">Website URL</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 i">
								<button type="submit" class="btn btn-lg btn-yellow btn-effect">Cache site</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
